#popup_youtube{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    display:none;
}

#popup_youtube .close-popup i{
    background: url(../images/home/close-popup.png) no-repeat;
    width: 42px;
    height: 44px;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    z-index: 110;
}