.story-detail-container {
    height : 500px;
    display: block;
    gap    : 15px;
    margin : 0 100px;
    padding: 0 15px;


    .intro-story {
        display : flex;
        gap     : 15px;
        margin  : 10px 20px;
        position: relative;

        &::before {
            width           : 16.2%;
            left            : 1%;
            background-color: #000;
            content         : '';
            position        : absolute;
            top             : 2%;
            height          : 96%;
            content         : ' ';
            z-index         : -1;


        }

        &::after {
            position         : absolute;
            width            : 8%;
            left             : 9.4%;
            background-color : #efefef;
            box-shadow       : inset 0 0 5px #aaa;
            top              : 2%;
            height           : 95.5%;
            content          : ' ';
            z-index          : -1;
            -webkit-transform: perspective(300) rotateY(20deg);


        }



        .content-left {
            width               : 20%;
            border              : 1px solid green;
            height              : 250px;
            width               : 200px;
            // background       : center center no-repeat;
            background-repeat   : no-repeat;
            background-size     : cover;
            border              : 1px solid black;
            border-left         : 5px solid black;






        }



        .content-right {
            width         : 80%;
            display       : flex;
            flex-direction: column;
            padding-left  : 10px;
            height        : 250px;
            overflow      : overlay;
            padding       : 0 15px;

            .up {
                font-family   : 'Times New Roman', Times, serif;
                font-size     : 20px;
                font-weight   : bold;
                text-transform: capitalize;
            }

            .down {
                padding-top: 10px;
                text-align : justify;
                display    : block;

                .read-now {
                    border          : none;
                    border-radius   : 2px;
                    background-color: red;
                    color           : white;

                    &:hover {
                        background-color: green;
                        font-family     : monospace;
                    }
                }
            }

        }
    }

    .detail-info {
        display         : block;
        // padding-top: 20px;
        // padding-left: 12px;
        // padding-right: 12px;
        text-align      : justify;
        border-top      : 1px solid #ddd;
        background-color: #f9f9f9;
        // margin-bottom: 20px;
        padding         : 10px 100px;
        border-bottom   : 1px solid #ddd;
        font-size       : 18px;
        font-family     : "Palatino Linotype", "Arial", "Times New Roman", sans-serif;

        h5 {
            font-size: 17px;
        }

        img {
            width: 100%;
        }
    }

    .schedule-story {
        margin : 0 100px;
        display: flex;
        height : 200px;
        border : 1px solid red;
        gap    : 25px;
        padding: 10px 0;

        .content-left {
            width : 50%;
            border: 1px solid green
        }

        .content-right {
            width : 50%;
            border: 1px solid orange;
        }
    }

    .comment-story {
        height: 100px;
    }
}