@import "../../styles/common.scss";

body {
    background-color: #003366;
    /* Màu nền xanh lam đậm */
    color           : #ffffff;
    /* Màu trắng cho chữ */
}

.title {
    color: #ffd700;
    /* Màu vàng cho tiêu đề phim */
}

.information {
    color: #ffffff;
    /* Màu trắng cho thông tin phim */
}

.border {
    border: 1px solid #000000;
    /* Đường viền đen */
}

.header-container {
    z-index         : 99;
    display         : flex;
    justify-content : space-between;
    background-color: $colormain;
    color           : $common-text-color;
    height          : 40px;
    position        : relative;

    .btn-logout {
        color      : $common-text-color;
        line-height: 40px;
        height     : 40px;
        padding    : 0 10px;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }

    .languages {
        margin-right: 50px;

        .welcome {
            margin-right: 20px;
        }

        .language-en {
            cursor      : pointer;
            margin-right: 25px;
            margin-left : 10px;

            &.active {
                opacity: 1;
                color  : #00e600;
            }
        }

        .language-vi {
            cursor: pointer;

            &.active {
                opacity: 1;
                color  : red;
            }
        }
    }
}